<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Hello welcome to trad additions of voc page</h1>
    <table>
        <tr>
          <th>Mot</th>
          <th>trad</th>
          <th>success</th>
          <th>attempts</th>
          <th>action</th>
        </tr>
        <% for(var i = 0; i < vocabulary.length; i++){ %>
            <tr>
                <th><%=vocabulary[i].word %></th>
                <th><%=vocabulary[i].trad %></th>
                <th><%=vocabulary[i].success %></th>
                <th><%=vocabulary[i].attempts%></th>
                <th><form method = "post" action = "deleteVoc"><input name = "id" type="hidden" value=<%=vocabulary[i].id%> id = "id"><input type="submit" value="delete"></form></th>
            </tr>

        <%}%>
        <form action = "addVoc" method="get">
            <label>add word : = </label>
            <input name = "word" type="text" id = "word">
            <input name = "answer" type="text" placeholder="Type your trad" id = "trad">
            <input type="submit" value="Submit">
        </form>
        <a href="/">go back to test</a>





        
      </table>
    <script src="home.js"></script>
</body>
</html>
